.text {
  text-align: center;
}
.shop-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.product-image {
  width: 200px;
  height: 200px;
}
.list {
  align-items: center;
  justify-content: center;
  display: flex;
}

.product {
  margin: 20px;
}
